/target
/classes
/checkouts
/resources/public/js/out*
/resources/public/js/main*.js
/dev-resources/public/js/out
/dev-resources/public/js/main.js
*.log
pom.xml
pom.xml.asc
build.xml
/test2junit
*.jar
*.class
/.lein-*
/.nrepl-port
*.swp
