{
 :user-interaction
 #{
   "navigate"
   "search"
   "update thunk label"
   "update fact"
   "login"
   "login-success"
   "login-failure"
   "logout"
   "logout-success"
   "logout-failure"
   "register"
   "register-success"
   "register-failure"
   }
 :client-messaging
 #{
   "noun"
   "verb"
   "context"
   }
 :aether
 #{
   "listen!"
   "send!"
   "replicate!"
   "publisher"
   "log"
   }
 :system
 #{
   "start"
   "stop"
   }
 :system-messaging
 #{
   "get"
   "update"
   "create"
   "request"
   "response"
   }
 :system-architecture
 #{
   }

 }
