[

 {:db/id #db/id [:db.part/user -1000]
  :thunk/label "distinct"
  :thunk/fact [#db/id [:db.part/user -2000]]}

 {:db/id #db/id [:db.part/user -1001]
  :thunk/label "description"}

 {:db/id #db/id [:db.part/user -1002]
  :thunk/label "nebula form language"
  :thunk/fact [#db/id [:db.part/user -2001]
               #db/id [:db.part/user -2002]]}

 {:db/id #db/id [:db.part/user -1003]
  :thunk/label "center"}

 {:db/id #db/id [:db.part/user -1004]
  :thunk/label "lantern in the fog"}

 {:db/id #db/id [:db.part/user -2000]
  :fact/attribute #db/id [:db.part/user -1001]
  :fact/value #db/id [:db.part/user -3000]}

 {:db/id #db/id [:db.part/user -2001]
  :fact/attribute #db/id [:db.part/user -1003]
  :fact/value #db/id [:db.part/user -1000]}

 {:db/id #db/id [:db.part/user -2002]
  :fact/attribute #db/id [:db.part/user -1003]
  :fact/value #db/id [:db.part/user -1004]}

 {:db/id #db/id [:db.part/user -3000]
  :value/string "Each logical item must be independently
  referencable. Therefore, it must be its own entity. This has
  important affects on query space and time performance as value
  repetition should be low and all entities are directly accessible
  from the eavt and vaet indices as appropriate."}

 ]
