[
 {:db/id #db/id [:db.part/users -1000]
  :role/id "hannah"
  :role/label "hannah"}

 {:db/id #db/id [:db.part/users -2000]
  :user/id "hannah"
  :user/password "rubinton"
  :user/role #db/id [:db.part/users -1000]}

 {:db/id #db/id [:db.part/structure -3000]
  :datum/label "Infinite Jest"
  :datum/role #db/id [:db.part/users -1000]
  :datum/fact [#db/id [:db.part/structure -3001]
               #db/id [:db.part/structure -3004]]}

 {:db/id #db/id [:db.part/structure -3001]
  :fact/attribute #db/id [:db.part/structure -3002]
  :fact/value #db/id [:db.part/structure -3003]}

 {:db/id #db/id [:db.part/structure -3002]
  :datum/label "Author"
  :datum/role #db/id [:db.part/users -1000]}

 {:db/id #db/id [:db.part/structure -3003]
  :literal/text "David Foster Wallace"}

 {:db/id #db/id [:db.part/structure -3004]
  :fact/attribute #db/id [:db.part/structure -3005]
  :fact/value #db/id [:db.part/structure -3006]}

 {:db/id #db/id [:db.part/structure -3005]
  :datum/label "Title"
  :datum/role #db/id [:db.part/users -1000]}

 {:db/id #db/id [:db.part/structure -3006]
  :literal/text "Infinite Jest"}

 ]

