body {
    /* for navbar-fixed-top */
    padding-top: 70px;
}
/*
.header, body {
    background-color: gray !important;
    color: lightgrey !important;
    border-color: lightgrey !important;
}
.header.navbar { border: none; }
*/
.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    -webkit-appearance: none;
    background-color: inherit;
    border-bottom: 1px solid lightgrey;
    display: inline-block;
    line-height: 2rem !important;
    margin: 0 0.5rem !important;
    -webkit-transition: border-bottom-color: 0.3s;
    transition: border-bottom-color: 0.3s;
}
input.validated:invalid {
    border-bottom-color: red;
}
input.validated:valid {
    border-bottom-color: green;
}
*, .btn {
    -webkit-transition: opacity 0.3s, border-color 0.3s, fill 0.3s;
    transition: opacity 0.3s, border-color 0.3s, fill 0.3s;
}
.header button {
    background-color: inherit !important;
    padding: inherit !important;
    border-radius: 0 !important;
}
.header button:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.header button:focus {
    outline: none !important;
    outline-offset: none !important;
}
.vertical-divider {
    border-right: 1px solid black;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
button.dropdown-toggle > .caret {
    margin-left: 0.5rem;
}
span.view-editable-text {
    margin: 0 0.5rem !important;
}
input.edit-editable-text {
    border-bottom: none;
}
input:focus {
    outline: none;
}
.form-control {
    padding: none !important;
    border: none !important;
    border-bottom: 1px solid lightgrey !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /*
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    */
}
.form-control:focus {
    border-color: inherit !important;
    outline: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
a {
    color: inherit !important;
    cursor: pointer;
}
a .glyphicon {
    color: #777;
}
a:hover {
    text-decoration: none !important;
}
.glyphicon-search {
    transform: scaleX(-1);
}

.bold-text {
    font-weight: 500;
}

.horizontal-line {
    border-bottom: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2rem;
    width: 15%
}

.dropdown {
    list-style: none;
}
.dropdown > a , .dropdown > button {
    padding-bottom: 10px;
}

/* Overrides bootstrap styling when width < 768px. */
.header .navbar-header {
    float: left;
}
/* Overrides bootstrap styling when width < 768px. */
.header .navbar-right {
    float: right;
    margin: 0;
    margin-right: -15px;
}

a.navbar-brand:focus {
    outline: none !important;
    outline-offset: none !important
}

.navbar-center {
 /*   color: #777; */
    position: fixed;
    min-width: 100px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    left: 30%;
}
.search {
    display: inline-block;
    width: 90%;
}
.typeahead {
    display: inline-block;
    position: relative;
    width: 100%;
}
.typeahead > input {
    width: 100%;
}
.typeahead-results.dropdown-menu {
    left: 5px;
    width: 100%;
}
.dropdown-menu-item-marker {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    vertical-align: middle;
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.dropdown-menu-item > a {
    text-overflow: ellipsis;
    overflow: hidden;
}
.dropdown-menu-item {
    cursor: pointer;
}
.navbar-brand {
    cursor: pointer;
}
.navbar-brand:hover .glyphicon {
    color: black;
}
.navbar-brand.dropdown > a {
    display: inline;
}
.navbar-brand * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prompt {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    height: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Thunks */
.datum-container {
    padding-top: 20px;
    padding-bottom: 40px;
}
.datum-body {
    padding-top: 20px;
    padding-bottom: 40px;
}
.datum-label {
    padding-bottom: 24px;
}
.context-datum-cell, .similar-datum-cell {
    text-align: center;
    height: 40px;
}
.context-datums {
}


/* Facts */
.fact-body {
    margin-bottom: 12px;
}
.fact-container {
    width: 100% !important;
}
.fact-body {
    width: 100%;
}
/* this styling with constant fill (see fact.cljs) and varying opacity
 * is weird
 */
.click-area {
    cursor: pointer;
    opacity: 0;
}
.click-area:hover {
    opacity: 0.3;
}

/* Input Fields */
.editable-text-container {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}
/* NOTE: Designed to be identical to input field so text lines up
 * perfectly when display:none is used to swap span for input.
 * */
.view-editable-text {
    font-size: 16px;
    padding: 1px;
    width: 100%;
    cursor: text;
    display: inline-block;
    line-height: 2rem !important;
}
.edit-editable-text {
    font-size: 16px;
    width: 100%;
}
.input-textarea {
    font-size: 12px;
}
.editable-text-icon {
    padding-right: 0.5rem;
    cursor: pointer;
}
.fact-part-representation {
    cursor: text;
    font-size: 16px;
    /*
    max-width: 75%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}
.fact-part-metadata {
    font-size: 0.75rem;
    line-height: 1rem;
    /* text-transform: uppercase; */
    margin: 0 0.5rem;
}
.horizontal-selector {
    display: inline-block;
    margin: 10px 0 !important;
}
.horizontal-selector-item {
    /* font-size: 1rem; */
    background-color: lightgrey !important;
    vertical-align: middle;
    color: white !important;
    letter-spacing: 0.1rem;
    margin-right: 1rem;
    border: none !important;
}
.horizontal-selector-item.selected,
.horizontal-selector-item:hover {
    background-color: grey !important;
}
.disabled > .horizontal-selector-item:hover {
    background-color: lightgrey !important;
}
.type-input-label, .value-input-label {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
    width: 5rem;
    padding-right: 1rem;
}
/* matches input element from value-input-value input */
.type-input-value {
    margin-left: 5px;
    padding-left: 1px;
}
.type-input-value, .value-input-value {
    display: inline-block;
    width: calc(80% - 5rem);
}
.view-fact-part {
    margin-bottom: 12px;
}
.edit-fact-part {
    margin-bottom: 1rem;
}
.literal-context,
.literal-types {
    opacity: 0.7;
}
.literal-context:hover,
.literal-types:hover {
    opacity: 1.0;
}
.literal-context {
    text-align: left;
}
/* should this be right aligned? */
.literal-types {
    text-align: left;
}
.available-literal-type:hover {
    text-decoration: underline !important;
}
.available-literal-type.current {
    font-weight: 500;
}
