body {
    /* for navbar-fixed-top */
    padding-top: 70px;
}
.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    -webkit-appearance: none;
    background-color: inherit;
    border-bottom: 1px solid #777;
    display: inline-block;
    line-height: 2rem !important;
    margin: 0 0.5rem !important;
}
input:focus {
    outline: none;
}
a {
    color: inherit !important;
}
a:hover {
    text-decoration: none !important;
}
.glyphicon-search {
    transform: scaleX(-1);
}

/*
span {
    font-size: 16px;
}
*/
.bold-text {
    font-weight: 500;
}

.dropdown {
    list-style: none;
}

.navbar-center {
    color: #777;
    position: fixed;
    min-width: 100px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    left: 30%;
}

/* Thunks */
.thunk-container {
    padding-top: 60px;
    padding-bottom: 60px;
}
.thunk-body {
    padding-top: 40px;
    padding-bottom: 40px;
}
.context-thunk-cell, .similar-thunk-cell {
    text-align: center;
    height: 40px;
}
.context-thunks {
}

/* Facts */
.fact-body {
    margin-bottom: 20px;
}
.fact-container {
    width: 100% !important;
}
.fact-body {
    width: 100%;
}

/* Input Fields */
.editable-text-container {
}
.view-editable-text {
    font-size: 16px;
    padding-right: 0.5rem;
 /*   cursor: pointer; */
    /*
    max-width: 75%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}
.edit-editable-text {
    font-size: 16px;
}
.input-textarea {
    font-size: 12px;
}
.editable-text-icon {
    padding-right: 0.5rem;
    cursor: pointer;
}
.fact-part-representation {
    font-size: 16px;
    /*
    max-width: 75%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}
.fact-part-metadata-container {
    padding-top: 0.25rem;
    padding-left: 2rem;
}
.type-input-label, .value-input-label {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
    width: 5rem;
    padding-right: 1rem;
}
.type-input-value, .value-input-value {
    display: inline-block;
}
.view-fact-part {
    margin-bottom: inherit;
}
.edit-fact-part {
    margin-bottom: 1rem;
}
