body {
    /* for navbar-fixed-top */
    padding-top: 70px;
}
/*
.header, body {
    background-color: gray !important;
    color: lightgrey !important;
    border-color: lightgrey !important;
}
.header.navbar { border: none; }
*/
.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    -webkit-appearance: none;
    background-color: inherit;
    border-bottom: 1px solid lightgrey;
    display: inline-block;
    line-height: 2rem !important;
    margin: 0 0.5rem !important;
}
input:focus {
    outline: none;
}
a {
    color: inherit !important;
}
a:hover {
    text-decoration: none !important;
}
.glyphicon-search {
    transform: scaleX(-1);
}

.bold-text {
    font-weight: 500;
}

.horizontal-line {
    border-bottom: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2rem;
    width: 15%
}

.dropdown {
    list-style: none;
}

/* Overrides bootstrap styling when width < 768px. */
.header .navbar-header {
    float: left;
}
/* Overrides bootstrap styling when width < 768px. */
.header .navbar-right {
    float: right;
    margin: 0;
    margin-right: -15px;
}

.navbar-center {
 /*   color: #777; */
    position: fixed;
    min-width: 100px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    left: 30%;
}
.search {
    display: inline-block;
    width: 90%;
}
.typeahead {
    display: inline-block;
    position: relative;
    width: 100%;
}
.typeahead > input {
    width: 100%;
}
.typeahead-results.dropdown-menu {
    left: 5px;
    width: 100%;
}
.dropdown-menu-item-marker {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    vertical-align: middle;
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.dropdown-menu-item > a {
    text-overflow: ellipsis;
    overflow: hidden;
}
.dropdown-menu-item {
    cursor: pointer;
}
/* Thunks */
.thunk-container {
    padding-top: 20px;
    padding-bottom: 40px;
}
.thunk-body {
    padding-top: 20px;
    padding-bottom: 40px;
}
.thunk-title {
    padding-bottom: 6px;
}
.thunk-type-line {
    padding-bottom: 12px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.3rem;
    font-weight: 500;
}
.context-thunk-cell, .similar-thunk-cell {
    text-align: center;
    height: 40px;
}
.context-thunks {
}

/* Facts */
.fact-body {
    margin-bottom: 20px;
}
.fact-container {
    width: 100% !important;
}
.fact-body {
    width: 100%;
}
.click-area {
    cursor: pointer;
}

/* Input Fields */
.editable-text-container {
    display: inline-block;
    width: 100%;
}
.view-editable-text {
    font-size: 16px;
    padding-right: 0.5rem;
    width: 100%;
 /*   cursor: pointer; */
    /*
    max-width: 75%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}
.edit-editable-text {
    font-size: 16px;
    width: 100%;
}
.input-textarea {
    font-size: 12px;
}
.editable-text-icon {
    padding-right: 0.5rem;
    cursor: pointer;
}
.fact-part-representation {
    font-size: 16px;
    /*
    max-width: 75%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}
.fact-part-metadata-container {
    padding-top: 0.25rem;
    padding-left: 2rem;
}
.type-input-label, .value-input-label {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
    width: 5rem;
    padding-right: 1rem;
}
.type-input-value, .value-input-value {
    display: inline-block;
}
.view-fact-part {
    margin-bottom: inherit;
}
.edit-fact-part {
    margin-bottom: 1rem;
}
